BODY {
	margin: 0px;
	background-image: url(../images/bg.gif);
	background-color: #FAEAD7;
	scrollbar-base-color: #FFBA68;
	scrollbar-arrow-color: #A0410D;
}

FORM {
	margin: 0px;
}

INPUT, SELECT, TEXTAREA {
	font-family: arial, sans-serif;
	font-size: 12px;
}

P {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: black;
}

A {
	text-decoration: none;
	color: #006CDE;
}

A:hover {
	text-decoration: underline;
	color: #006CDE;
}

A:active {
	color: #006CDE;
}

A:visited {
	color: #006CDE;
}

TD {
	font-family: arial, sans-serif;
	font-size: 12px;
}

UL, OL, LI { 
	font-family: arial, sans-serif;
	font-size: 12px;
}

BLOCKQUOTE {
	font-size: 12px;
	font-family: serif;
	font-weight: bold;
	font-style: italic;
}

IMG {
	border: 0px;
}

FIELDSET {
	margin: 0 5px 15px 5px;
}

LABEL {
	font-weight: bold;
}
