.leftcolumn {
	padding: 5px 10px 10px 10px;
	background-color: #E6EEF2;
	border-right: 1px solid #B4B3B3;
	height: 100%;
}

.leftcolumn P, .leftcolumn LI {
	font-size: 12px;
}

.leftcolumn P {
	padding: 0;
	margin: 2px 0 2px 0;
}

.leftcolumn UL {
	padding: 0;
	margin: 2px 0 2px 15px;
}

.leftcolumn OL {
	padding: 0;
	margin: 2px 0 2px 23px;
	padding: 2px 0 2px 0;
	font-size: 12px;
}

.leftcolumn BLOCKQUOTE {
	font-size: 12px;
	font-style: italic;
	margin: 5 15px 0 15px;
}

.leftcolumn H1	{
	font-size: 18px;
	margin: 0px;
	font-weight: strong;
}

.leftcolumn H2	{
	font-size: 16px;
	color: #6F6F6F;
	margin: 15px 0 0 0;
}

.leftcolumn H3	{
	font-size: 14px;
	color: #6F6F6F;
	margin: 15px 0 0 0;
}

.leftcolumn H4	{
	font-size: 13px;
	color: #000000;
	margin: 15px 0 0 0;
	border-bottom: 1px solid #CCCCCC;
}

.leftcolumn H5	{
	font-size: 12px;
	color: #6F6F6F;
	margin: 15px 0 0 0;
}

.leftcolumn H6	{
	font-size: 12px;
	color: #6F6F6F;
	margin: 15px 0 0 0;
}